<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/javascripts/main.js"></script>

  <style>
    #output{
      max-height: 450px;
      overflow: hidden;
      overflow-y: auto;
    }
  </style>
</head>

<body class="container">
  <h1>
    <%= title %>
  </h1>
  <p>Automate all phase-0, phase-1 and phase-2 tests without cloning labs to your device</p>

  <h3>Lab Repository</h3>
  <p>Copy and paste the lab repository link below and submit link</p>
  <form onsubmit="runtest(event)" class="d-flex">
    <div class="form-group p-2 w-75">
      <input type="url" name="repolink" class="form-control" id="repolink" placeholder="Repository Link: https://" required />
    </div>

    <div class="form-group p-2">
      <button type="submit" class="btn btn-primary" id="submitButton">Submit Link</button>
    </div>

    <div id="output"></div>
  </form>
</body>

</html>